@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index.cshtml";
}
<script>
    window.fbAsyncInit = function() {
    FB.init({
        appId: '525344350942089',
        xfbml      : true,
        version    : 'v2.2'
    });
};

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    })
</script>
<div class="container">

    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/march-calendar-2015.png">
            <h2>Upcoming Events</h2>
        </div>
        <div class="col-md-6">
            <textarea style="width: 100%; padding: 4px; margin: 0;" rows="8" cols="80" name="message" id="message" tabindex="1"></textarea>
            <button type="submit" class="btn btn-success">Post</button>
            <h2>Newsfeed</h2>
            <div class="newsfeed">
               <script>FB.api('/me/feed', 'get');</script> 

            </div>
        </div>

        <div class="col-md-3">
            <h2>Top Stocks</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Shares</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <p class="link">@Html.ActionLink("View More Stock Info...", "AllStocks", "Home")</p>
            <h2>Friends</h2>
        </div>
    </div>
</div>