@{
    ViewBag.Title = "Index.cshtml";
}

<div class="mainPage">

    <div class="leftPanel">
        <p>Calendar</p>

    </div>

    <div class="newsfeed">

    </div>

    <div class="rightPanel">
        <p>Top Stocks</p>

        <p class="link">@Html.ActionLink("View More Stock Info...", "AllStocks", "Home" )</p>
    </div>

</div>